<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets">
  
<ui:composition template="/public/template_initial.xhtml">
    <ui:define name="nav_bar">
        <ui:include src="top_bar.xhtml"/>
<!--         <ui:include src="search_bar.xhtml"/> -->
    </ui:define>
      
    <ui:define name="container">
        <div class="row">
            <span>#{index.message}</span>            
        </div>
    </ui:define>    
    <ui:define name="title">        
            Bem-vindo ao MyImage.com        
    </ui:define>
</ui:composition>
</html>