<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
 
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h:form>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <h:commandLink value="MyImage.com"
                            action="#"
                            styleClass="navbar-brand"/>
                </h:form>
            </div>
            <div class="navbar-collapse collapse">
                <div class="row" style="padding-top: 10px;">
                    <h:form>
                        <h:commandLink value="publicar uma imagem"
                            action="#"
                            styleClass="btn btn-sm btn-success active navbar-right"
                            role="button" />
                        <h:commandLink value="criar uma conta"
                            action="#"
                            styleClass="btn btn-sm btn-success active navbar-right offset"
                            role="button" style="margin-right: 5px;" />
                    </h:form>
                </div>
            </div>
        </div>
    </div>
</ui:composition>