<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/mainDefault2.xhtml">

	<ui:define name="content">

 
		<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
		<br></br>
 
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">

					<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Agendamento de Manutenção</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool"
									data-card-widget="remove">
									<i class="fas fa-remove"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->

						<h:form>
							<p:messages id="messages"  closable="true"/>
							 
							<p:growl id="growl" sticky="true" showDetail="false" />
							<p:fieldset
								style=" font-size: 12px;       
   padding: 80px;float:left; ; margin-right:0.5em; padding-top:0.2em; text-align:left; 
  border:0.5px  black; width:100%; font-weight:bold;">

								<h:inputHidden value="#{agendamentoController.agendamento.id}"
									class="form-control" label="id" />


								<br />
								<p:outputLabel value="Tipo: *" />
								<h:selectOneMenu class="custom-select d-block w-100"
									value="#{agendamentoController.agendamento.tipo}"
									 required="true" requiredMessage="tipo é obrigatório"> 
									<f:selectItem itemLabel="Selecione tipo" itemValue="" />
									<f:selectItem itemLabel="Corretiva" itemValue="Corretiva" />
									<f:selectItem itemLabel="Preventiva" itemValue="Preventiva" />
								</h:selectOneMenu>



								<br />
								<h:outputLabel value="Nome Responsável :" />
								<h:selectOneMenu
									value="#{agendamentoController.agendamento.usuario}"
									converter="omnifaces.SelectItemsIndexConverter"
									class="custom-select d-block w-100" required="true" requiredMessage="Responsável é obrigatório">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true"
										itemValue="" />
									<f:selectItems value="#{agendamentoController.usuarios}"
										var="_usuario" itemLabel="#{_usuario.name}"
										itemValue="#{usuario.id}" />
								</h:selectOneMenu>
								<br />

								<p:outputLabel value="Barragem: *" />
								<h:selectOneMenu
									value="#{agendamentoController.agendamento.barragem}"
									class="custom-select d-block w-100"
									converter="omnifaces.SelectItemsIndexConverter"  required="true" requiredMessage="Barragem é obrigatório"  >
									<f:selectItem itemLabel="Selecione" noSelectionOption="true"
										itemValue="" />
									<f:selectItems value="#{agendamentoController.barragens}"
										var="barragem" itemLabel="#{barragem.nome}"
										itemValue="#{barragem}" />
								</h:selectOneMenu>
								<br />

								<p:outputLabel for="Insumo" value="Insumo: *" />
								<h:selectOneMenu filter="true"
									value="#{agendamentoController.agendamento.insumo}" id="Insumo"
									class="custom-select d-block w-100"
									converter="omnifaces.SelectItemsIndexConverter">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true"
										itemValue="" />
									<f:selectItems value="#{agendamentoController.insumos}"
										var="insumo" itemLabel="#{insumo.nome}" itemValue="#{insumo}" />
											
								</h:selectOneMenu>
								<br />

								<p:outputLabel value="Datas disponíveis para agendar: *" />
								<h:selectOneMenu
									value="#{agendamentoController.agendamento.agenda}"
									converter="omnifaces.SelectItemsIndexConverter"
									class="custom-select d-block w-100">
						 
									<f:selectItem itemLabel="Selecione" itemValue="" />
			<f:selectItems value="#{agendamentoController.agendas}"
						var="_agenda" itemLabel="#{_agenda.dataAgendamento}"
						itemValue="#{agenda.id}"  >
										</f:selectItems>
								
								</h:selectOneMenu>
								<br />

								<h:inputHidden value="#{agenda.statusAgendamento}"
									class="form-control" label="status" />
								<br />

								<p:outputLabel for="tipoAgenda" value="Situação: *" />
								<h:selectOneMenu id="tipoAgenda"
									class="custom-select d-block w-100"
									value="#{agendamentoController.agendamento.status}"
									style="width:800px">
									<f:selectItem itemLabel="Selecione tipo" itemValue="" />
									<f:selectItem itemLabel="Em andamento" itemValue="Andamento" />
									<f:selectItem itemLabel="Concluido" itemValue="Concluido" />
									<f:selectItem itemLabel="Aguardando peças" itemValue="Pendente" />
									<f:selectItem itemLabel="Equipamento com falha" itemValue="Falha" />
								</h:selectOneMenu>


								<br />
								<h:outputText value="Descrição " />
								<h:inputTextarea
									value="#{agendamentoController.agendamento.descricao}"
									class="form-control" />
								<br />
								<h:commandButton id="register"
									action="#{agendamentoController.cadastraAgendamento}"
									value="Salvar" styleClass="register"
									class="btn btn-outline-primary my-2 my-sm-0" />

							</p:fieldset>



						</h:form>


					</div>
					<!-- /.card -->

				</div>
				<!-- /.container-fluid -->
			</section>
	 		
	 		
	 		

						<!-- Main content -->
						<section class="content">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">Agendamentos em aberto</h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">

											<h:form>

												<p:dataTable value="#{agendamentoController.agendamentos}"
													var="_agendamento" style="border:0px;"
													class="table table-bordered table-hover"  reflow="true" rows="10">


													<p:column>
														<f:facet name="header" style="font-size: 12px">ID</f:facet>
														<h:outputText value="#{_agendamento.id}" disable="true" />
													</p:column>
													
													<h:inputHidden  value="#{_agendamento.id}"/>


													<p:column>
														<f:facet name="header" style="font-size: 12px">Tipo</f:facet>
														<h:outputText value="#{_agendamento.tipo}" />
													</p:column>

													<p:column>
														<f:facet name="header" style="font-size: 12px">Status</f:facet>
														<h:outputText value="#{_agendamento.status}" />
													</p:column>

													<p:column>
														<f:facet name="header">Insumo</f:facet>
														<h:outputText value="#{_agendamento.insumo.nome}" />
													</p:column>

													<p:column>
														<f:facet name="header">Barragem</f:facet>
														<h:outputText value="#{_agendamento.barragem.nome}" />
													</p:column>

													<p:column>
														<f:facet name="header">Data Agenda</f:facet>
														<h:outputText
															value="#{_agendamento.agenda.dataAgendamento}" />
													</p:column>

													<p:column>
														<f:facet name="header" style="font-size: 10px">Responsavel</f:facet>
														<h:outputText value="#{_agendamento.usuario.name}" />
													</p:column>

												
													
														<h:inputHidden    value="#{_agendamento.descricao}"        />
														
														
													<p:column style="width:4%">
														<p:commandLink id="btnEditar"
															action="#{agendamentoController.carregaInsumosForm(_agendamento)}"
															ajax="false" title="Editar">
															<f:facet name="header">Editar</f:facet>
															<h:graphicImage value="/resources/images/edit.png"
																width="30px" />
														</p:commandLink>
													</p:column>

													<p:column style="width:4%">
														<p:commandLink id="btnDeletar"
															action="#{agendamentoController.removeAgendamento(_agendamento)}"
															ajax="false" title="Remover">
															<f:facet name="header">Remover</f:facet>
															<h:graphicImage value="/resources/images/delete.png"
																width="30px" />

														</p:commandLink>
													</p:column>
												</p:dataTable>

											</h:form>

										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->


									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</section>
						
						
		</div>

	</ui:define>
</ui:composition>
