<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/main.xhtml">
	
	<ui:define name="content">
		<ui:include src="/WEB-INF/templates/main.xhtml"></ui:include>
		<br></br>

		<h:form>
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<p:growl id="growl" sticky="true" showDetail="false" />

			<p:tab>
				<p:panel header="Cadastro de Insumo">
					<p:panelGrid columns="2">


						<h:outputText value="Nome: *" />
						<h:inputText value="#{newInsumo.nome}" class="form-control"
							required="true" label="nome" style="width:990px" />

						<p:outputLabel for="tipoInsumo" value="Tipo: *" />
						<h:selectOneMenu id="tipoInsumo"
							class="custom-select d-block w-100" value="#{newInsumo.tipo}"
							style="width:990px">
							<f:selectItem itemLabel="Selecione tipo" itemValue="" />
							<f:selectItem itemLabel="Máquina" itemValue="Maquina" />
							<f:selectItem itemLabel="Equipamento" itemValue="Equipamento" />
						</h:selectOneMenu>



						<h:outputText value="Tag Produto *" />
						<h:inputText value="#{newInsumo.tag}" class="form-control"
							style="width:500px" />


<!-- 						<p:outputLabel for="Barragem" value="Barragem: *" /> -->
<!-- 						<h:selectOneMenu id="Barragem" class="custom-select d-block w-100" -->
<!-- 							value="#{newInsumo.nomeBarragem}" style="width:990px"> -->
<!-- 							<f:selectItem itemLabel="Selecione" itemValue="" /> -->
<!-- 							<f:selectItem itemLabel="01" itemValue="01" /> -->
<!-- 							<f:selectItem itemLabel="02" itemValue="02" /> -->
<!-- 							<f:selectItem itemLabel="03" itemValue="03" /> -->
<!-- 						</h:selectOneMenu> -->


						<h:outputText value="Data Fabricação *" />
						<h:inputText value="#{newInsumo.dataFabricacao}"
							class="form-control" style="width:500px" />


						<p:outputLabel for="respTec" value="Responsável técnico: *" />
						<h:selectOneMenu id="respTec" class="custom-select d-block w-100"
							value="#{newInsumo.responsavelTecnico}" style="width:990px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItem itemLabel="Alan" itemValue="Alan" />
							<f:selectItem itemLabel="Bernardo" itemValue="Bernardo" />
						</h:selectOneMenu>
					</p:panelGrid>
					<br></br>
					<br></br>
					<h:commandButton id="register"
						action="#{insumoController.registraInsumo}" value="Salvar"
						styleClass="register" class="btn btn-outline-primary my-2 my-sm-0" />
					<!-- 					<f:ajax execute="@form" render="@form :tabelaInsumos" /> -->
				</p:panel>
			</p:tab>
			
					
		</h:form>
			<h2>Lista de Insumos</h2>
			<h:dataTable value="#{insumoController.insumos}" var="_insumo" styleClass="simpletablestyle">
					
			<h:column>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{_insumo.nome}" />
			</h:column>

			<h:column>
				<f:facet name="header">Tipo</f:facet>
				<h:outputText value="#{_insumo.tipo}" />
			</h:column>

			<h:column>
				<f:facet name="header">barragem</f:facet>
				<h:outputText value="#{_insumo.nomeBarragem}" />
			</h:column>


			<h:column>
				<f:facet name="header">data fabricação</f:facet>
				<h:outputText value="#{_insumo.dataFabricacao}" />
			</h:column>

			<h:column>
				<f:facet name="header">tag</f:facet>
				<h:outputText value="#{_insumo.tag}" />
			</h:column>
			<h:column>
				<f:facet name="header">tecnico</f:facet>
				<h:outputText value="#{_insumo.responsavelTecnico}" />
			</h:column>
	
			</h:dataTable>
			
 
 
	</ui:define>
</ui:composition>
