<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/mainDefault2.xhtml">




	<ui:define name="content">


		<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
		<br></br>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
					<p:messages id="messages" />
					<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Cadastro de Usuário</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool"
									data-card-widget="remove">
									<i class="fas fa-remove"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->

						<h:form>

							<p:growl id="growl" sticky="true" showDetail="false" />
							<p:fieldset
								style=" font-size: 12px;       
   padding: 80px;float:left; ; margin-right:0.5em; padding-top:0.2em; text-align:left; 
  border:0.5px  black; width:100%; font-weight:bold;">

								<br />

								<div class="form-group">
									<h:outputText value="Nome pessoa: *" />
									<h:inputText value="#{newUser.name}" class="form-control"
										required="true" requiredMessage="Nome é obrigatório"  label="name" />
								</div>
								<br />
								<div class="form-group">
									<h:outputText value="Email: *" />
									<h:inputText value="#{newUser.email}" 
									required="true" requiredMessage="Email é obrigatório"	label="email" class="form-control" />
								</div>
								<br />
								<h:outputText value="Telefone: *" />
								<h:inputText value="#{newUser.phoneNumber}" class="form-control" />

								<br />
								<p:outputLabel for="tipoAcesso" value="Tipo de acesso: *" />
								<h:selectOneMenu id="tipoAcesso"
									class="custom-select d-block w-100"
									value="#{newUser.tipoAcesso}" required="true" requiredMessage="Acesso é obrigatório">
									<f:selectItem itemLabel="Selecione tipo" itemValue="" />
									<f:selectItem itemLabel="Engenharia" itemValue="Engenharia" />
									<f:selectItem itemLabel="Manutencao" itemValue="Manutencao" />
									<f:selectItem itemLabel="Consultoria" itemValue="Consultoria" />
								</h:selectOneMenu>
								<br />
								<h:outputText value="Usuario: *" />
								<h:inputText value="#{newUser.user}" class="form-control"
									required="true" maxlength="12"    requiredMessage="Usuário é obrigatório" label="user" />
								<br />
								<h:outputLabel value="Senha: *" />
								<p:password id="password" required="true" maxlength="25" requiredMessage="Senha é obrigatório"
									value="#{newUser.password}" class="form-control"
									style="width:200px" />


								<br></br>

								<h:commandButton id="register"
									action="#{usuarioController.registerUser}" value="Salvar"
									styleClass="register" class="btn btn-primary" />
								<!-- 								<h:messages styleClass="messages" errorClass="invalid" -->
								<!-- 									infoClass="valid" warnClass="warning" globalOnly="true" /> -->




							</p:fieldset>



						</h:form>


					</div>
					<!-- /.card -->

				</div>
				<!-- /.container-fluid -->
			</section>

		</div>

	</ui:define>


</ui:composition>
