<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/mainDefault2.xhtml">

	<ui:define name="content">
		<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
		<br></br>

	<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">

					<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Gerenciamento dos Insumos</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool"
									data-card-widget="remove">
									<i class="fas fa-remove"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->

						<h:form>
			<p:messages id="messages" />
			 
			<p:growl id="growl" sticky="true" showDetail="false" />




			<p:fieldset
				style=" font-size: 12px;       
   padding: 80px;float:left; ; margin-right:0.5em; padding-top:0.2em; text-align:left; 
  border:0.5px  black; width:100%; font-weight:bold;">
				
				 
				 
						<h:inputHidden value="#{newInsumo.id}" class="form-control"
					  label="id"    />
					 <br />
					
				<h:outputText value="Nome: *" />
				<h:inputText value="#{newInsumo.nome}" class="form-control"
					required="true" requiredMessage="Nome é obrigatório"  label="nome" />
				<br />
				<p:outputLabel for="tipoInsumo" value="Tipo: *" />
				<h:selectOneMenu id="tipoInsumo" class="custom-select d-block w-100"
					value="#{newInsumo.tipo}"  >
					<f:selectItem itemLabel="Selecione tipo" itemValue="" />
					<f:selectItem itemLabel="Máquina" itemValue="Maquina" />
					<f:selectItem itemLabel="Equipamento" itemValue="Equipamento" />
				</h:selectOneMenu>
				<br />
				<h:outputText value="Tag Produto *" />
				<h:inputText value="#{newInsumo.tag}" class="form-control"
					 />
				<br />
				<h:outputText value="Data Fabricação *" />
				<h:inputText type="date" value="#{newInsumo.dataFabricacao}"
					class="form-control"   />

				<br />
				<h:outputText value="Descrição " />
				<h:inputTextarea value="#{newInsumo.descricao}" class="form-control"
					 	/>
				<br />
				
			  
				<h:commandButton id="register"
					action="#{insumoController.registraInsumo}" value="Salvar"
					styleClass="register" class="btn btn-outline-primary my-2 my-sm-0" />
					
		 
					 
						<h:commandButton id="novo"
					action="#{insumoController.novoInsumo}" value="Novo"
					styleClass="novo" class="btn btn-outline-primary" />
			 
				<br />


			</p:fieldset>
		</h:form>


					</div>
					<!-- /.card -->

				</div>
				<!-- /.container-fluid -->
			</section>
	 		
						<!-- Main content -->
						<section class="content">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">Lista de Insumos</h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">
												<h:form id="lista">

			<br />
			<br />

		 
				 
				<p:dataTable value="#{insumoController.insumos}" var="_insumo"
					class="table table-bordered table-hover" reflow="true" rows="10">

					
					
<!-- 						<h:column> -->
<!-- 						<f:facet name="header">ID</f:facet> -->
<!-- 						<h:outputText value="#{_insumo.id}" disable="true" /> -->
						
<!-- 					</h:column> -->


					<h:inputHidden value="#{_insumo.id}" disable="true" />
					
					<p:column>
						<f:facet name="header">Nome</f:facet>
						<h:outputText value="#{_insumo.nome}" />
					</p:column>

					<p:column>
						<f:facet name="header">Tipo</f:facet>
						<h:outputText value="#{_insumo.tipo}" />
					</p:column>


					<p:column>
						<f:facet name="header">Data Fabricação</f:facet>
						<h:outputText value="#{_insumo.dataFabricacao}" />
					</p:column>

					<p:column>
						<f:facet name="header">Tag</f:facet>
						<h:outputText value="#{_insumo.tag}" />
					</p:column>

					<p:column style="width:3%">
						<p:commandLink id="btnEditar"
							action="#{insumoController.carregaInsumosForm(_insumo)}"
							ajax="false" title="Editar">
							<f:facet name="header">Editar</f:facet>
							<h:graphicImage value="/resources/images/edit.png" width="25px" />

						</p:commandLink>
					</p:column>

					<p:column style="width:3%">
						<p:commandLink id="btnDeletar"
							action="#{insumoController.removeInsumo(_insumo)}" ajax="false"
							title="Remover">
							<f:facet name="header">Remover</f:facet>
							<h:graphicImage value="/resources/images/delete.png" width="25px" />

						</p:commandLink>
					</p:column>
				</p:dataTable>
			 



		</h:form>
										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->


									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</section>
						
						
		</div>
	
 






	</ui:define>
</ui:composition>
