<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/mainDefault2.xhtml">
	
	<ui:define name="content">
		<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
		<br></br>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">

					<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Cadastro Barragem</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool"
									data-card-widget="remove">
									<i class="fas fa-remove"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->

						<h:form>
							<p:messages/>
							<p:growl id="growl" sticky="true" showDetail="false" />
							<p:fieldset
								style=" font-size: 12px;       
   padding: 80px;float:left; ; margin-right:0.5em; padding-top:0.2em; text-align:left; 
  border:0.5px  black; width:100%; font-weight:bold;">

							<br />
							<h:outputText value="Barragem: *" />
						<h:inputText value="#{newBarragem.nome}" class="form-control"
							required="true"  requiredMessage="Barragem é obrigatório"  label="nome"   />
<br />
						<p:outputLabel for="tipoInsumo2" value="Categoria de Risco: *" />
						<h:selectOneMenu id="tipoInsumo2"
							class="custom-select d-block w-100" value="#{newBarragem.categoria}"
							 >
							<f:selectItem itemLabel="Selecione um item" itemValue="" />
							<f:selectItem itemLabel="Baixo" itemValue="Baixo" />
							<f:selectItem itemLabel="Médio" itemValue="Médio" />
							<f:selectItem itemLabel="Alto" itemValue="Alto" />
						</h:selectOneMenu>
						<br />
								<p:outputLabel for="tipoInsumo3" value="Potencial de dano: *" />
						<h:selectOneMenu id="tipoInsumo3"
							class="custom-select d-block w-100" value="#{newBarragem.potencialDeDano}"
							 >
							<f:selectItem itemLabel="Selecione um item" itemValue="" />
							<f:selectItem itemLabel="Baixo" itemValue="Baixo" />
							<f:selectItem itemLabel="Médio" itemValue="Médio" />
							<f:selectItem itemLabel="Alto" itemValue="Alto" />
						</h:selectOneMenu>

						<br />
						<h:outputText value="latitude: *" />
						<h:inputText value="#{newBarragem.latitude}" class="form-control"
							required="false" label="nome"   />
						<br />
						<h:outputText value="longitude: *" />
						<h:inputText value="#{newBarragem.longitude}" class="form-control"
							required="false" label="nome"   />
						<br />
						<h:outputText value="UF *" />
						<h:inputText value="#{newBarragem.UF}" class="form-control"
							required="false" label="nome"   />
							
							
							<br />
						<h:outputText value="Código Sensor  *" />
						<h:inputText value="#{newBarragem.codigoSensorMonitoramento}" class="form-control"
							  />
<br />
 								<p:outputLabel for="tipoInsumo4" value="Monitoramento: *" />
						<h:selectOneMenu id="tipoInsumo4"
							class="custom-select d-block w-100" value="#{newBarragem.statusMonitoramento}"
							 >
							
							<f:selectItem itemLabel="Selecione um item" itemValue="" />
							<f:selectItem itemLabel="Ligado" itemValue="Ligado" />
							<f:selectItem itemLabel="Desligado" itemValue="Desligado" />
						
						</h:selectOneMenu>
  
	
				 
				 
					<br></br>
					<h:commandButton id="register"
						action="#{barragemController.registraBarragem}" value="Salvar"
						styleClass="register" class="btn btn-outline-primary my-2 my-sm-0" />
							
							
							
							
							
							
							
							</p:fieldset>



						</h:form>


					</div>
					<!-- /.card -->

				</div>
				<!-- /.container-fluid -->
			</section>
	 		
	 		
	 		

						
		</div>
			
 
 
	</ui:define>
</ui:composition>
