<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/mainDefault2.xhtml">
 <script type="text/javascript">    
    PrimeFaces.locales['de'] = {
        closeText: 'Schließen',
        prevText: 'Zurück',
        nextText: 'Weiter',
        monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
        monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
        dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
        dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
        dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
        weekHeader: 'Woche',
        FirstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: '',
        timeOnlyTitle: 'Nur Zeit',
        timeText: 'Zeit',
        hourText: 'Stunde',
        minuteText: 'Minute',
        secondText: 'Sekunde',
        currentText: 'Aktuelles Datum',
        ampm: false,
        month: 'Monat',
        week: 'Woche',
        day: 'Tag',
        allDayText: 'Ganzer Tag'
    };
</script>
 
<style type="text/css">
    .value {
        font-weight: bold;
    }
</style>

	<ui:define name="content">
		<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
  
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">

					<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Cadastro Agenda de Manutenção</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool"
									data-card-widget="remove">
									<i class="fas fa-remove"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->



						<p:messages id="messages" />

						<p:growl id="growl" sticky="true" showDetail="false" />

						<h:form>
							<p:fieldset
								style=" font-size: 12px;       
   padding: 80px;float:left; ; margin-right:0.5em; padding-top:0.2em; text-align:left; 
  border:0.5px  black; width:100%; font-weight:bold;">

								<h:inputHidden value="#{agenda.id}" class="form-control"
									label="id" />

								<br />
								<div class="form-group">
									<h:outputText value="Data: *" />
									<p:inputText   id="dataLancamento" class="form-control" style="width:400px"
										value="#{agendaController.agenda.dataAgendamento}" mask="true" maxlength="10" placeholder="dd/mm/yyyy ex: 01/01/2019" required="true" requiredMessage="Data é Obrigatório">
									</p:inputText>
								</div>
  
        						
								<br />

								<h:commandButton id="register"
									action="#{agendaController.inserirAgenda}" value="Salvar"
									styleClass="register"
									class="btn btn-outline-primary my-2 my-sm-0" />



							</p:fieldset>
						</h:form>


						<h:form id="lista">

							<p:fieldset
								style=" font-size: 12px;       
   padding: 80px;float:left; ; margin-right:0.5em; padding-top:0.2em; text-align:left; 
  border:0.5px  black; width:100%; font-weight:bold;">
	 
 <h:dataTable value="#{agendaController.agendas}" var="_agenda"
			styleClass="table table-striped table-bordered"
			class="table table-striped table-bordered" style="width:100%">

			<h:column>
				<f:facet name="header">Datas cadastradas</f:facet>
				<h:outputText value="#{_agenda.dataAgendamento}" />
			</h:column>
 
		</h:dataTable>




								<h:inputHidden value="#{agenda.statusAgendamento}"
									class="form-control" label="status" />
							</p:fieldset>
						</h:form>

						<br />

					</div>
					<!-- /.card -->

				</div>
				<!-- /.container-fluid -->
			</section>

		</div>

	</ui:define>
</ui:composition>
