<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/mainDefault2.xhtml">

	<ui:define name="content">
		<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
		<br></br>

	<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
 
						<!-- Main content -->
						<section class="content">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">Monitoramento</h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">
	 <h:form id="form1" >
	 
	  
	 
		<p:dataTable id="tablelist"  value="#{monitorController.monitoramentos}" update="true"  var="_monitor"  rowStyleClass="#{_monitor.nivelDaAgua > 50}" 
					class="display responsive nowrap" reflow="true" rows="10" >
  
						
					<p:column headerText="Barragem"  style="width:9%"  >
						<h:outputText value="#{_monitor.barragem_nome} "/>
					</p:column>
  
					<p:column headerText="Nível da água" style="width:5%" >
						<h:outputText value="#{_monitor.nivelDaAgua}"  />
					</p:column>

					<p:column headerText="Temperatura Solo" style="width:5%" >
						<h:outputText value="#{_monitor.temperaturaSolo}"  />
					</p:column>
					
					
 
					
				 
					
					<p:column style="width:5%">
														<p:commandButton id="btnDeletar" rendered="#{_monitor.temperaturaSolo>40}"
															action="#{monitorController.enviaALerta}"
															ajax="false" title="Enviar Alerta">
															<f:facet name="header">Enviar alerta</f:facet>
														</p:commandButton>
														
													</p:column> 
				</p:dataTable>
		 
			 </h:form>

										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->


									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</section>
						
						
		</div>
 
	</ui:define>
</ui:composition>
