<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/main.xhtml">

	<ui:define name="content">
		<ui:include src="/WEB-INF/templates/main.xhtml"></ui:include>
		<br></br>

		<h:form>
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<p:growl id="growl" sticky="true" showDetail="false" />

		</h:form>
		<h2>Lista de Insumos</h2>
		<br />
		
		<h:form id="lista">
		<h:dataTable value="#{insumoController.insumos}" var="_insumo"
			styleClass="table table-striped table-bordered"
			class="table table-striped table-bordered" style="width:100%">

			<h:column>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{_insumo.nome}" />
			</h:column>

			<h:column>
				<f:facet name="header">Tipo</f:facet>
				<h:outputText value="#{_insumo.tipo}" />
			</h:column>



			<h:column>
				<f:facet name="header">Data Fabricação</f:facet>
				<h:outputText value="#{_insumo.dataFabricacao}" />
			</h:column>

			<h:column>
				<f:facet name="header">Tag</f:facet>
				<h:outputText value="#{_insumo.tag}" />
			</h:column>
			
				<p:column style="width:4%">
							<p:commandLink id="btnEditar"
								action="#{insumoController.editar(_insumo)}" ajax="false"
								title="Editar">
<!-- 								<f:attribute  name="insumoSelecionado" value="#{_insumo}" /> -->
								<f:facet name="header">Editar</f:facet>
								<h:graphicImage value="/resources/images/edit.png" width="30px" />
							 
							</p:commandLink>
						</p:column>
			
			<p:column style="width:4%">
				<p:commandLink id="btnDeletar" action="#{insumoController.removeInsumo(_insumo)}"
					ajax="false" title="Remover">
					<f:facet name="header">Remover</f:facet>
					<h:graphicImage value="/resources/images/delete.png" width="30px"/>
<!-- 					<f:setPropertyActionListener value="#{_insumo.id}" -->
<!-- 						target="#{_insumo}" /> -->
				</p:commandLink>
			</p:column>

		</h:dataTable>
</h:form>


	</ui:define>
</ui:composition>
