<?xml version="1.0" encoding="UTF-8"?>
<!--
    JBoss, Home of Professional Open Source
    Copyright 2013, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html" template="/WEB-INF/templates/mainDefault2.xhtml">
	
  <style>
        .ol-attribution.ol-logo-only,
        .ol-attribution.ol-uncollapsible {
            max-width: calc(100% - 3em) !important;
            height: 1.5em !important;
        }

        .ol-control button,
        .ol-attribution,
        .ol-scale-line-inner {
            font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif !important;
        }

        .ol-popup {
            font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif !important;
            font-size: 12px;
            position: absolute;
            background-color: white;
            -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            bottom: 12px;
            left: -50px;
            min-width: 100px;
        }

        .ol-popup:after,
        .ol-popup:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .ol-popup:after {
            border-top-color: white;
            border-width: 10px;
            left: 48px;
            margin-left: -10px;
        }

        .ol-popup:before {
            border-top-color: #cccccc;
            border-width: 11px;
            left: 48px;
            margin-left: -11px;
        }

        .ol-popup-closer {
            text-decoration: none;
            position: absolute;
            top: 2px;
            right: 8px;
        }

        .ol-popup-closer:after {
            content: "✖";
            color: #c3c3c3;
        }

    </style>

		 

			<ui:define name="content">
			<ui:include src="/WEB-INF/templates/mainDefault2.xhtml"></ui:include>
  
  </ui:define>  
  
  <ui:define name="dashboard">
   
   		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1></h1>
						</div>
						<div class="col-sm-6"></div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">

					<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Dashboard</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" class="btn btn-tool"
									data-card-widget="remove">
									<i class="fas fa-remove"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->

						<h:form>
							<p:messages id="messages" showDetail="true" closable="true">
								<p:autoUpdate />
							</p:messages>
							<p:growl id="growl" sticky="true" showDetail="false" />
					
					
					
						<!-- SELECT2 EXAMPLE -->
					<div class="card card-default">
					 
						<!-- /.card-header -->
 
						 
 						 
 						    <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><h:outputLabel value="#{homeController.countItemsAndamento}"/></h3>

                <p>Máquinas em manutenção</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
<!--               <a href="#" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><h:outputLabel value="#{homeController.countItem}"/><sup style="font-size: 20px"></sup></h3>
				 
				
                <p>Quantidade de manutenções</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
<!--               <a href="#" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><h:outputLabel value="#{homeController.countItemBarragemAlerta}"/></h3>

                <p>Barragens com alerta</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
<!--               <a href="#" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><h:outputLabel value="#{homeController.countItemsFalha}"/></h3>

                <p>Equipamentos com falha</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
<!--               <a href="#" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a> -->
            </div>
          </div>
          <!-- ./col -->
        </div>
        
 					
 					
 					
					</div>
					<!-- /.card -->
	 
					</h:form>
					
					<!-- /.card -->

				</div>
				<!-- /.container-fluid -->
				
				
				<!-- Main content -->
						<section class="content">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">Barragens</h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">

											<h:form>
 <div id="map" style="width: 100%; height: 100%;">
		<div id="popup" class="ol-popup">
			<a href="#" id="popup-closer" class="ol-popup-closer"></a>
			<div id="popup-content"></div>
		</div>
	</div>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

    <script>

        var attribution = new ol.control.Attribution({
            collapsible: true
        });




        var map = new ol.Map({
            controls: ol.control.defaults({ attribution: false }).extend([attribution]),
            layers: [
                new ol.layer.Tile({
source: new ol.source.XYZ({
    attributions: ['Powered by Esri',
                   'Source: Esri, DigitalGlobe, GeoEye, Earthstar Geographics, CNES/Airbus DS, USDA, USGS, AeroGRID, IGN, and the GIS User Community'],
    attributionsCollapsible: false,
    url: 'https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
    maxZoom: 23
  })
                })
            ],
            target: 'map',
            view: new ol.View({
                center: ol.proj.fromLonLat([-44.108238,-20.0919375]),
                maxZoom: 30,
                zoom: 12
            })
        });

           var style = new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 50, 1)'
                }),
                stroke: new ol.style.Stroke({
                    width: 2,
                    color: 'rgba(255, 100, 50, 0.8)'
                }),
                image: new ol.style.Circle({
                    fill: new ol.style.Fill({
                        color: 'rgba(255,0,0, 1)'
                    }),
                    stroke: new ol.style.Stroke({
                        width: 1,
                        color: 'rgba(255, 255, 0, 1)'
                    }),
                    radius: 7
                }),
            });

        var layer = new ol.layer.Vector({
			style: style,
            source: new ol.source.Vector({
                features: [
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([-44.108238,-20.0919375]))
                    }),
					
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([-44.208238,-20.8919375]))
                    }),
					
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([-42.3531777,-22.1388586]))
                    }),
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([-44.16482, -22.27463]))
                    }),
             
					    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([-42.1531777,-22.6388586]))
                    })
                ]
            })
        });
        map.addLayer(layer);

        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');

        var overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        map.addOverlay(overlay);

        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };

        map.on('singleclick', function (event) {
            if (map.hasFeatureAtPixel(event.pixel) === true) {
                var coordinate = event.coordinate;

                content.innerHTML = '<b>Crítica</b><br />Barragem 1';
                overlay.setPosition(coordinate);
            } else {
                overlay.setPosition(undefined);
                closer.blur();
            }
        });

        content.innerHTML = '<b>Crítica</b><br />Barragem 1';
        overlay.setPosition(ol.proj.fromLonLat([-44.108238,-20.0919375]));

    </script>
										 

											</h:form>

										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->


									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</section>
						</div>
						
						
						
						 <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Monitor Barragens - Temperatura Solo</h3>
                  <a href="javascript:void(0);">View Report</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg"></span>
                    <span>Temperatura Solo</span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                   
                    </span>
<!--                     <span class="text-muted">Since last week</span> -->
                  </p>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="visitors-chart" height="200"></canvas>
             
                </div>
                    

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Mês atual
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i> último Mês
                  </span>
                   
                  
                  
                  
                    
                </div>
              </div>
            </div>
            <!-- /.card -->
            
            
			</section>
	 		
	 		
	 		
	 		
	 			
	 		 
						
						
		</div>
   	
   	
   	
            
  
  		 
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  
  		  </ui:define>
 

</ui:composition>
