<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Página de Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">

.login-form {
	width: 340px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 40px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
}
</style>

 
</h:head>

 

<body>
	<div class="login-form">
	
		<h:form>
			<h2 class="text-center">Login</h2>
		
	  <p:messages id="messages" />
			<p:outputLabel for="name" value="Nome 
      Usuário:" />
			<p:inputText id="name" value="#{usuarioController.newUser.user}" class="form-control" placeholder="Usuário" />

			<div class="form-group">
				<p:outputLabel for="password" value="Senha:" />
				<p:password id="password" value="#{usuarioController.newUser.password}"
					class="form-control" placeholder="Senha" />
			</div>
			<div class="form-group">

				<h:commandButton value="Entrar" id="loginUsuario"
					action="#{usuarioController.loginUsuario}"
					styleClass="btn btn-primary btn-block" update="formTable : tablelist" />
				 
			</div>

		</h:form>
	</div>
</body>
</html>
