<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>SICA</title>

	<link rel="stylesheet" type="text/css"
		href="resources/css/summernote-bs4.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/adminlte.min.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/OverlayScrollbars.min.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/all.min.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/jqvmap.min.css" />

<!-- 	<link rel="stylesheet" type="text/css" -->
<!-- 		href="resources/css/select2-bootstrap4.min.css" /> -->

	<link rel="stylesheet" type="text/css"
		href="resources/css/daterangepicker.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/icheck-bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/tempusdominus-bootstrap-4.min.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/select2.min.css" />

<!-- 	<link rel="stylesheet" type="text/css" -->
<!-- 		href="resources/css/select2-bootstrap4.min.css" /> -->
 
	<link rel="stylesheet" type="text/css"
		href="resources/css/dataTables.bootstrap4.min.css" />

<!-- 		<link rel="stylesheet" type="text/css" -->
<!-- 		href="resources/css/dataTables.bootstrap4.css" /> -->
 
	<link rel="stylesheet"
		href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

	<link rel="stylesheet"
		href="resources/css/bootstrap-duallistbox.min.css" />

	<link rel="stylesheet"
		href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
	<link
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
		rel="stylesheet" />

	<script src="resources/js/adminlte.js"></script>
	<script src="resources/js/bootstrap.bundle.min.js"></script>
	<script src="resources/js/Chart.min.js"></script>
	<script src="resources/js/dashboard.js"></script>
	<script src="resources/js/daterangepicker.js"></script>
	<script src="resources/js/demo.js"></script>
	<script src="resources/js/jquery.knob.min.js"></script>
	<script src="resources/js/jquery.overlayScrollbars.min.js"></script>
	<script src="resources/js/jquery.vmap.brazil.js"></script>
	<script src="resources/js/jquery.vmap.min.js"></script>
	<script src="resources/js/moment.min.js"></script>
	<script src="resources/js/sparkline.js"></script>
	<script src="resources/js/summernote-bs4.min.js"></script>
	<script src="resources/js/tempusdominus-bootstrap-4.min.js"></script>
	
	<script src="resources/js/dashboard3.js"></script>
	<script src="resources/js/demo.js"></script>
	
 
	<script src="resources/js/jquery.min.js"></script>
	<script src="resources/js/select2.full.min.js"></script>
	<script src="resources/js/bootstrap-switch.min.js"></script>

    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
        type="text/css"/>


</h:head>



<h:body class="hold-transition sidebar-mini">
	<div id="content">
		<ui:insert name="content">


			<div class="wrapper">
				<!-- Navbar -->
				<nav
					class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a></li>
					<li class="nav-item d-none d-sm-inline-block"><a
						href="Home.xhtml" class="nav-link">Inicio</a></li>

				</ul>

				 
			 

				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<!-- Messages Dropdown Menu -->
						<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						data-widget="pushmenu" href="#"> </a></li>
					<li class="nav-item d-none d-sm-inline-block"></li>
					
					<p:commandLink action="#{usuarioController.deslogar}"
					styleClass="btn btn-primary"  value="Sair" />
 
				</ul>
					<!-- Notifications Dropdown Menu -->
				 				 
				</ul>
				</nav>
				<!-- /.navbar -->

				<!-- Main Sidebar Container -->
				<aside class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo --> <a href="../../index3.html" class="brand-link">
					<img src="resources/images/AdminLTELogo.png" alt="AdminLTE Logo"
					class="brand-image img-circle elevation-3" style="opacity: .8" /> <span
					class="brand-text font-weight-light">Sica Web</span>
				</a> <!-- Sidebar -->
				<div class="sidebar">
					<!-- Sidebar user (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						 
						<div class="info">
							 <a href="#" class="d-block">Bem vindo (a) #{usuarioLogado.user}</a>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column"
						data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
						<li class="nav-item"><a href="formMonitoramento.xhtml" class="nav-link"> <i
								class="nav-icon fas fa-tachometer-alt"></i>
								<p>Monitoramento</p>
						</a></li>



						<li class="nav-item "><a href= "formCadastroUsuario.xhtml" class="nav-link"> <i
								class="nav-icon fas fa-edit"></i>
								<p>Usuários</p>
						</a></li>


						<li class="nav-item "><a href= "formCadastroInsumo.xhtml" class="nav-link"> <i
								class="nav-icon fas fa-edit"></i>
								<p>Insumos</p>
						</a></li>
						
				
						
							<li class="nav-item "><a href= "formCadastroBarragem.xhtml" class="nav-link"> <i
								class="nav-icon fas fa-edit"></i>
								<p>Barragem</p>
						</a></li>

						<li class="nav-item has-treeview menu-open"><a href="#"
							class="nav-link active"> <i class="nav-icon fas fa-edit"></i>
								<p>
									Agendamento <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="formCadastroAgenda.xhtml"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Cadastro de agenda</p>
								</a></li>
								<li class="nav-item"><a href="formAgendamento.xhtml"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Realizar agendamento</p>
								</a></li>

							</ul></li>


						<li class="nav-item has-treeview "><a href="#"
							class="nav-link "> <i class="nav-icon fas fa-chart-pie"></i>
								<p>
 									Relatório  
								</p>
						</a>

</li> 



						<li class="nav-item has-treeview-open"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav-link"> </a></li>
								<li class="nav-item"><a href="#" class="nav-link"> </a></li>
								<li class="nav-item"><a href="#" class="nav-link"> </a></li>
							</ul></li>


						<li class="nav-item has-treeview-open"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav-link"> </a></li>
								<li class="nav-item"><a href="#" class="nav-link"> </a></li>
								<li class="nav-item"><a href="#" class="nav-link"> </a></li>
							</ul></li>


						<li class="nav-item has-treeview-open"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
							</ul></li>

						<li class="nav-item has-treeview-open"><a href="#"
							class="nav"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
							</ul></li>



						<li class="nav-item has-treeview-open"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
							</ul></li>


						<li class="nav-item has-treeview-open"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
							</ul></li>

						<li class="nav-item has-treeview-open"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview-open">
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
								<li class="nav-item"><a href="#" class="nav"> </a></li>
							</ul></li>

						<li class="nav-item"><a href="#" class="nav-link" /></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link" /></li>

								<li class="nav-item"></li>
							</ul></li>

						<li class="nav-item has-treeview"><a class="nav-link"> </a> <a
							class="nav"> </a> <a class="nav"> </a> <a class="nav"> </a> <a
							class="nav"> </a> <a class="nav"> </a> <a class="nav"> </a> <a
							class="nav"> </a> <a class="nav"> </a> <a class="nav"> </a> <a
							class="nav"> </a> <a class="nav"> </a> <a class="nav"> </a> <a
							class="nav"> </a> <a class="nav"> </a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>


							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul>

							<ul class="nav nav-treeview">
								<li class="nav-item"><a class="nav-link"> </a></li>
								<li class="nav-item has-treeview"><a class="nav-link">
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
										<li class="nav-item"><a class="nav-link"> </a></li>
									</ul></li>
								<li class="nav-item"><a class="nav-link"> </a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>


						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>

						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-header"></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
						<li class="nav-item"><a class="nav-link"> </a></li>
					</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar --> </aside>
		
		<ui:insert name="dashboard">
		
		
		
		
		
		
		
		</ui:insert>
		
			<ui:insert name="dashboard2">
		
		
		
		
		
		
		
		</ui:insert>

				<!-- /.content-wrapper -->


				<!-- Control Sidebar -->
			  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
				<!-- /.control-sidebar -->
			</div>
			<!-- ./wrapper -->


		</ui:insert>
	</div>
</h:body>
</html>